@font-face {font-family:Arabic; src:url('arab.otf');}
@font-face {font-family:Latin; src:url('tekslatin.otf');}
.tables { font-family: Latin;}
.arabic { font-family: Arabic;}
body {background-color:#1C2125;
display:block;
-khtml-user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
unselectable:on;}
a {color: green;
text-decoration:none;
font-size:50px;}
a:hover, table:hover {color: #009BFF;}
table, a { transition: color 1s;}